<nav class="navbar">
    <div class="logo">
        <div class="image-26">
        </div>
    </div>
    <div class="container">
        <div class="iconlink">
            <img class="vector-14" src="../assets/vectors/vector_22_x2.svg" />
          </div>
        <div class="item-style">Ссылки</div>
        <div class="iconlink">
            <img class="vector-15" src="../assets/vectors/vector_7_x2.svg" />
          </div>
        <div class="item-style">Контакты</div>
        <div class="iconlink">
            <img class="union-1" src="../assets/vectors/union_1_x2.svg" />
          </div>
        <div class="item-style">Теги</div>
        <div class="iconlink">
            <img class="vector-16" src="../assets/vectors/vector_15_x2.svg" />
          </div>
        <div class="item-style">Избранные</div>
        <div class="iconlink">
            <img class="vector-17" src="../assets/vectors/vector_12_x2.svg" />
          </div>
        <div class="item-style">Посещения</div>
    </div>
    <app-search-bar></app-search-bar>
  </nav>